<% provide(:title, t(".title")) %>

<h2 class="text-primary" style="margin-top:30px;margin-bottom:20px"> <%= t ".text_title_html" %> </h2>


<p> <%= t ".text_first_paragraph" %> </p>

<p> <%= t ".text_second_paragraph_html", rails_link: link_to(t(".rails"),"http://rubyonrails.org/", target: "_blank") %> </p>
<ul>
	<li>
		<h3> <%= t ".what_is_title" %> </h3>
		<p> <%= t ".what_is_text" %></p>
	</li>
	<li>
		<h3> <%= t ".text_second_title" %> </h3>
		<p> <%= t ".text_stored" %></p>
	</li>
	<li>
		<h3> <%= t ".text_third_title" %> </h3>
		<p> <%= t ".text_work" %></p>
	</li>
	<li>
		<h3> <%= t ".text_four_title" %> </h3>
		<p> <%= t ".text_trust_html", bitbucket: link_to(t(".bitbucket"),"https://bitbucket.org/jparaque/passlist", target: "_blank") %></p>
	</li>
</ul>

<div class="row">
<div class="col-md-8 col-lg-8 col-sm-8" style="padding-top:20px;padding-left:10px">
	<p><h2> <%= t ".goodbye_html" %></h2></p>
</div>

<div class="col-md-4 col-lg-4 col-sm-4 well" style="padding-top:10px;padding-bottom:15px">

		<div class="container" style="border-bottom-width:1px;margin-bottom:0px">
		<h4><b><%= t ".contact_me" %></b></h4>
		</div>

		<div class="col-md-4 col-lg-4 col-sm-4">
			<%= link_to image_tag("gplus.png" ,style: "width:100%"), "http://plus.google.com/+JuanpeAraque", target: "_blank", class: "circle" %>
		</div>
		<div class="col-md-4 col-lg-4 col-sm-4">
			<%= link_to image_tag("twitter.png" ,style: "width:100%"), "http://twitter.com/AAraKKe", target: "_blank", class: "circle contact-logo"  %>
		</div>
		<div class="col-md-4 col-lg-4 col-sm-4">
			<%= link_to image_tag("telegram.png" ,style: "width:100%"), "http://telegram.me/Juanpe", target: "_blank", class: "circle contact-logo"  %>
		</div>

</div>
</div>
