

<%= render partial: "layouts/flashes"  %>

<div class="center jumbotron" style="margin-top:50px">

  <h1><%= t ".title" %></h1>
  <h2>
   <%= t ".description" %>
  </h2>

  <%= link_to t("sign_up_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="col-md-3 col-sm-4 col-lg-4">
<h2><%= t(".list_one.title") %></h2><br/>
<div class="list-group">
    <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-content-create"></i>
        </div>
        <div class="row-content">
            <div class="action-secondary"></div>
            <h4 class="list-group-item-heading"><%= t(".list_one.first.title") %> </h4>
            <p class="list-group-item-text"> <%= t(".list_one.first.text") %></p>
        </div>
    </div>
    <div class="list-group-separator"></div>
        <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-content-add-circle-outline"></i>
        </div>
        <div class="row-content">
            <div class="action-secondary"></div>
            <h4 class="list-group-item-heading"><%= t(".list_one.second.title") %> </h4>
            <p class="list-group-item-text"> <%= t(".list_one.second.text") %></p>
        </div>
    </div>
    <div class="list-group-separator"></div>
        <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-action-lock-outline"></i>
        </div>
        <div class="row-content">
            <div class="action-secondary"></div>
            <h4 class="list-group-item-heading"><%= t(".list_one.third.title") %> </h4>
            <p class="list-group-item-text"> <%= t(".list_one.third.text") %></p>
        </div>
    </div>
    <div class="list-group-separator"></div>
</div>
</div>

<div class="col-md-5 col-sm-5 col-lg-5">
<h2><%= t(".list_two.title") %></h2><br/>
<div class="list-group">
    <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-alert-warning"></i>
        </div>
        <div class="row-content">
            <div class="action-secondary"></div>
            <h4 class="list-group-item-heading"><%= t(".list_two.first.title") %> </h4>
            <p class="list-group-item-text"> <%= t(".list_two.first.text") %></p>
        </div>
    </div>
    <div class="list-group-separator"></div>
        <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-image-looks-one"></i>
        </div>
        <div class="row-content">
            <div class="action-secondary"></div>
            <h4 class="list-group-item-heading"><%= t(".list_two.second.title") %> </h4>
            <p class="list-group-item-text"> <%= t(".list_two.second.text") %></p>
        </div>
    </div>
    <div class="list-group-separator"></div>
        <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-editor-format-list-bulleted"></i>
        </div>
        <div class="row-content">
            <div class="action-secondary"></div>
            <h4 class="list-group-item-heading"><%= t(".list_two.third.title") %> </h4>
            <p class="list-group-item-text"> <%= t(".list_two.third.text") %></p>
        </div>
    </div>
    <div class="list-group-separator"></div>
</div>
</div>

<div class="col-md-3 col-sm-3 col-lg-3">
<h2><%= t(".list_three.title") %></h2><br/>
<div class="list-group">
        <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-social-person-outline"></i>
        </div>
        <div class="row-content">
            <div class="action-secondary"></div>
            <h4 class="list-group-item-heading"><%= t(".list_three.first.title") %> </h4>
            <p class="list-group-item-text"> <%= link_to t(".list_three.first.text"), about_path %></p>
        </div>
    </div>

    <div class="list-group-separator"></div>
    <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-action-launch"></i>
        </div>
        <div class="row-content">
            <div class="action-secondary"></div>
            <h4 class="list-group-item-heading"><%= t(".list_three.second.title") %> </h4>
            <p class="list-group-item-text"> <%= link_to t(".list_three.second.text"), "https://bitbucket.org/jparaque/passlist", target: "_blank" %></p>
        </div>
    </div>
    <div class="list-group-separator"></div>
</div>
</div>



