<% provide(:title, t(".title")) %>


<div class="col-md-4 center-signup col-md-offset-4 well bs-component">

	<% if !@login_error.empty? %>
	<div class="alert alert-danger">
		<%= t(".login_errors")%>
	</div>
	<% @login_error = "" %>
	<%end%>

	<%= form_for(:session, url: login_path, html: {class: "form-horizontal"}) do |f| %>
	<legend> <%= t(".legend") %></legend>
	<fieldset>

		<div class="form-group">
			<div class="col-lg-12 col-md-12">
				<%= f.email_field :email, class: "form-control", placeholder: t(:email)  %>
			</div>
		</div>

		<div class= "form-group">
			<div class="col-lg-12 col-md-12">
				<%= f.password_field :password, class: "form-control floating-label", placeholder:  t(:password)%>
			</div>
		</div>

		<div class="form-group">
			<div class="cold-lg-12 col-md-12" style="text-align:left">
				<%= f.label :remember_me do %>
				<%= f.check_box :remember_me, style: "text-alignt:left;" %>
				<span><%= t ".remember_me" %></span>
				<% end %>
			</div>
		</div>

	</fieldset>
	<row>
		<%= link_to t(:cancel), root_path, class: "btn btn-flat btn-default" %>
		<%= f.submit t(".submmit"), class: "btn btn-primary" %>
	</row>
	<% end %>
	<p style="text-align:left;margin-bottom:0px;font-size:14px"> <%= t ".new_user" %> <%= link_to t(:sign_up_now), signup_path %></p>
	<p style="text-align:left;margin-top:0px;font-size:14px"> <%= link_to t(".forgot_password"), new_password_reset_path %></p>
</div>
