<% provide(:title, t(".title")) %>


<div class="col-md-6 center-signup col-md-offset-3 well bs-component">
<% if @user.errors.any? %>
<div class="alert alert-danger">
	<strong><%= t(:snap) %> </strong> <%= t(:no_edit_accout_error) %>
</div>
<%end%>
	<%= form_for(@user, url: password_reset_path(params[:id]), html: {class: "form-horizontal"}) do |f| %>
	<legend><%= t(".form_legend") %></legend>
	<fieldset>
		<%= hidden_field_tag :email, @user.email %>
		<div class= "form-group <%= get_form_group_cl @user.errors,:password %>">
			<div class="col-lg-7">
				<%= f.password_field :password, class: "form-control floating-label", placeholder: "#{get_form_ph @user.errors, :password,t(:password)}" %>
			</div>
		</div>


		<div class="form-group <%= get_form_group_cl @user.errors,:password_confirmation %>">
			<div class="col-lg-7">
				<%= f.password_field :password_confirmation, class: "form-control", placeholder: "#{get_form_ph @user.errors, :password_confirmation, t(:pass_confirm)}" %>
			</div>

		</div>
	</fieldset>
	<row>
		<%= link_to t(:cancel), root_url, class: "btn btn-flat btn-default" %>
		<%= f.submit t(".submmit"), class: "btn btn-primary" %>
	</row>
	<% end %>
</div>
