<% provide(:title, t(".title")) %>


<div class="col-md-6 col-lg-6 col-sm-6 col-md-offset-3 col-sm-offset-3 col-lg-offset-3 well bs-component" style="margin-top:50px">
<p style="text-align:left"> <%= t ".explanation" %></p><br/>

	<%= form_for(:password_reset, url: password_resets_path, html: {class: "form-horizontal"}) do |f| %>
	<legend> <%= t(".form_legend") %></legend>
	<fieldset>

		<div class="form-group">
			<div class="col-lg-10 col-md-10">
				<%= f.email_field :email, class: "form-control", placeholder: t(:email)  %>
			</div>
		</div>

	</fieldset>
	<row>
		<%= link_to t(:cancel), root_path, class: "btn btn-flat btn-default" %>
		<%= f.submit t(".submmit"), class: "btn btn-primary"%>
	</row>
	<% end %>

</div>
