<h2><%= t(".header", username: @user.name)%></h2>

<p>
  <%= t(".message_html") %><br/>
  <%= link_to(t(".verify_your_accout"), edit_account_activation_url(@user.activation_token, email: @user.email)) %>
</p>

<p> <%= t(".sincerilly") %></p>
