<h2><%= t(".header", username: @user.name)%></h2>

<p>
  <%= t(".message_html") %><br/>
  <%= link_to(t(".reset_your_password"), edit_password_reset_url(@user.reset_token, email: @user.email)) %>
</p>

<p> <%= t(".sincerilly") %></p>
