<div class="row">
	<% user.sites.order(:id).each_with_index do |site,i| %>
	<% if i%3 == 0 && i != 0 %>
</div><div class="row">
<% end %>
<div class="col-md-4">
	<div class="bs-container">
		<div class="panel panel-default">
			<div class="panel-heading" style="padding-top:5px;padding-bottom:5px">
				<h3 style="margin-top: 0px;margin-bottom: 0px;"><strong><%= site.site %></strong></h3>
			</div>
			<div class="panel-body" style="padding-bottom:3px;padding-top:3px">
			<div class="row" style="padding-bottom:2px;padding-right:2px;padding-left:2px;padding-top:2px">
				<div class="col-md-12 col-lg-12">
					<h6><%= "#{site.nchar} #{t(".characters")}" %> </h6>
					<% pass_to_show = site.generate_pass(pass)  %>
					<% if !pass_to_show.empty? %>
					<p><strong> <%= t(:password) %>:</strong></p>
					<h5> <%= pass_to_show %></h5>
					<% end %>
					<%#= button_to "",{controller: "sites", action: "copy_to_cp", data: {site_pass: site.generate_pass(pass)}}, class: "btn btn-fab btn-raised btn-add mdi-content-content-copy " %>
				</div>
			</div>
			<div class="row" style="margin-bottom: 0px;">
				<div class="col-md-8 col-md-offset-4" style="padding-right: 10px;padding-bottom: 10px;">
					<div class="btn-group" style="float:right;float:bottom;margin-bottom: 0px;">
						<%= link_to "",{controller: "sites", action: "refresh_salt", data: {id: site.id,pass: pass}}, method: "post", class: "btn btn-default mdi-navigation-refresh site-card-btns", style: "padding-left: 10px;font-size:20px;"%>
						<%= link_to "",edit_site_path(site,site: {user_id: @user.id}), class: "btn btn-default mdi-editor-mode-edit site-card-btns", style: "padding-left: 10px;font-size:20px;" %>
						<%= link_to "",site, method: "delete", class: "btn btn-default mdi-action-delete btn-alert site-card-btns", style: "padding-left: 10px;font-size:20px;" %>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
<%end%>
</div>
