<% provide(:title, t(".title")) %>


<div class="col-md-6 center-signup col-md-offset-3 well bs-component">
<% if @user.errors.any? %>
<div class="alert alert-danger" style="text-align:left">
	<%= t(".errors_html") %>
	<ul>
		<% @user.errors.messages.each do |k,msg| %>
      		<li><%= msg[0] %></li>
    	<% end %>
    </ul>
</div>
<%end%>
	<%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>
	<legend><%= t(".legend") %></legend>
	<fieldset>
		<div class="form-group <%= get_form_group_cl @user.errors,:name %>">
			<div class="col-lg-10">
				<%= f.text_field :name, class: "form-control", placeholder: "#{get_form_ph @user.errors, :name}" %>
			</div>
		</div>

		<div class="form-group <%= get_form_group_cl @user.errors,:email %>">
			<div class="col-lg-10">
				<%= f.email_field :email, class: "form-control", placeholder: "#{get_form_ph @user.errors, :email}"  %>
			</div>

		</div>

		<div class= "form-group <%= get_form_group_cl @user.errors,:password %>">
			<div class="col-lg-7">
				<%= f.password_field :password, class: "form-control floating-label", placeholder: "#{get_form_ph @user.errors, :password, t(:password)}" %>
			</div>
		</div>


		<div class="form-group <%= get_form_group_cl @user.errors,:password_confirmation %>">
			<div class="col-lg-7">
				<%= f.password_field :password_confirmation, class: "form-control", placeholder: "#{get_form_ph @user.errors, :password_confirmation, t(:pass_confirm)}" %>
			</div>

		</div>

			<div class="form-group <%= get_form_group_cl @user.errors,:locale %>">
			<%= f.label :locale, t(:language), class: "col-lg-2 control-label" %>
			<div class="col-md-3 col-lg-3 col-sm-3">
				<%= f.select :locale,get_languages_list, {}, class: "form-control", placeholder: "#{get_form_ph @user.errors, :locale}" %>
			</div>

		</div>
	</fieldset>
	<row>
		<%= link_to t(:cancel), root_path, class: "btn btn-flat btn-default" %>
		<%= f.submit t(".submmit"), class: "btn btn-primary" %>
	</row>
	<% end %>
</div>

