<% provide(:title,@user.name) %>
<%= render partial: "layouts/flashes" %>
<div class="bs-container cold-md-12" style="margin-top:30px">
<div class="well">
<div class="row">
<%= render partial: "users/user_card", object: @user %> 
<div class="col-md-3 master-pass">
<%= form_tag({controller: "users", action: "getpass"}, class: "form-horizontal") %>
<%= password_field_tag(:pass, "", required: true, class: "form-control", placeholder: t(".master_password_placeholder")) %>
<%= password_field_tag(:id, @user.id, class: "hidden") %>
<%= submit_tag( t(".gen_passwords_button") ,class: "btn btn-primary btn-xs mdi-action-autorenew") %>
</div>
</div>

<div class="row">
<div class="col-lg-8">
<h2> <%= get_sites_title(@user.sites.count) %> </h2>
</div>
</div>

<%= render partial: "users/sitelist", locals: {user: @user,pass: params[:pass_hash]} %>


<div class="row">
<%= link_to "", new_site_path(site: {user_id: @user.id}), class: "btn btn-primary btn-fab btn-raised mdi-content-add btn-add", style: "margin-right: 15px;
    border-bottom-width: 15px;
    margin-bottom: 15px;
    border-right-width: 6px;
    margin-top: 15px;" %>
</div>
</div>
</div>

