<% provide(:title, t(".title")) %>

<div class="col-md-6 center-signup col-md-offset-3 well bs-component">
	<% if @site.errors.any? %>
	<div class="alert alert-danger">
		<%= t(".errors_html") %>
	</div>
	    <ul style="text-align:left;color:red">
    <% @site.errors.messages.each do |k,msg| %>
      <li><%= msg[0] %></li>
    <% end %>
    </ul>
	<%end%>

	<%= form_for(@site, html: {class: "form-horizontal"}) do |f| %>
	<%= f.hidden_field :user_id, value: params[:site][:user_id] %>
	<legend> <%= t(".legend") %> </legend>
	<fieldset>
		<div class="form-group <%= get_form_group_cl @site.errors,:site %>">
			<%= f.label :nchar, t("sites.name"),class: "col-lg-2 control-label" %>
			<div class="col-lg-10">
				<%= f.text_field :site, class: "form-control", placeholder: "#{get_form_ph @site.errors, :site}" %>
			</div>
		</div>

		<div class="form-group <%= get_form_group_cl @site.errors,:nchar %>">
			<%= f.label :nchar, t("sites.nchar"),class: "col-lg-2 control-label" %>
			<div class="col-lg-10">
				<%= f.number_field :nchar, max: 25, min: 8, class: "form-control", placeholder: "#{get_form_ph @site.errors, :nchar,t("sites.nchar_placeholder")}"  %>
			</div>

		</div>

		<div class="form-group <%= get_form_group_cl @site.errors,:method %>" style="text-align:left">
			<%= f.label :method, t("sites.method"),class: "col-lg-2 control-label" %>
			<div class="col-lg-10">
				<div>
					<%= f.radio_button :method, "sha1", checked: @site.method == "sha1" %>
					<%= f.label :method, t("sites.sha1"), value: "sha1",style: "padding-left:15px" %>
				</div>
				<div>
					<%= f.radio_button :method, "sha1_64", checked: @site.method == "sha1_64" %>
					<%= f.label :method, t("sites.sha1_64"), value: "sha1_64",style: "padding-left:15px" %>
				</div>
				<div>
					<%= f.radio_button :method, "special_chars", checked: @site.method == "special_chars", id: "radio_special_chars" %>
					<%= f.label :method, t("sites.special_chars"), value: "special_chars",style: "padding-left:15px" %>
				</div>
				<%= f.text_field :allow_special,class: "form-control", id: "special_char_text",
				placeholder: "#{get_form_ph @site.errors, :site, t("sites.special_placeholder")}" %>
			</div>
		</div>
	</fieldset>
	<row>
		<%= link_to t(:cancel), user_path(User.find(params[:site][:user_id])), class: "btn btn-flat btn-default" %>
		<%= f.submit t(".submmit"), class: "btn btn-primary" %>
	</row>
	<% end %>
</div>

