<% if !flash.empty? %>
	<% flash.each do |f,text| %>
	<div class="row">
	<div class="col-md-5 col-lg-5 col-sm-5 alert alert-dismissable alert-<%= f %>" style="margin-left:20px;margin-top:20px;margin-bottom:0px;">
    	<button type="button" class="close" data-dismiss="alert">x</button>
    	<p> <%= raw text %> </p>
	</div>
	</div>
	<%end%>
<%end%>
