<div class="row">
<footer class="footer" style="border-top-width:2px;border-top-color:#009587">
    <div class="container">
      <nav>
      <%= t(".passlist",version: app_version) %>
        <ul>
          <li><%= link_to t("about"), about_path %></li>
          <li><%= link_to t(".bitbucket"), "https://bitbucket.org/jparaque/passlist/src" %></li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
