<header class="navbar navbar-fixed-top" style="margin-bottom: 0px;">
  <div class="container">
    <h5 style="margin-bottom: 0px;margin-top: 0px;"><%= link_to "PassList", root_path, id: "logo", class: "mdi-action-lock" %></h5>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if menu.class != Hash %>
        <li><%= link_to t(:about), about_path %></li>
        <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.name %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <%= link_to t(".edit_profile"), edit_user_path(current_user) %></li>
            <li> <%= link_to t(".logout"), logout_path, method: :delete %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to t(".login"), login_path %></li>
        <li><%= link_to t(:sign_up), new_user_path %></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t(".language") %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% get_languages_list.each do |lan| %>
            <li> <%= link_to lan[0], {controller: "static_pages", action: "change_locale", locale: lan[1]}, method: "post" %></li>
            <%end%>
          </ul>
          <% end %>
          <% else %>
          <% menu.each do |name,link| %>
          <li><%= link_to name,link %></li>
          <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
