<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track','jquery-ui' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <meta name="theme-color" content="#005F56">
    <%= render partial: 'layouts/shim' %>
  </head>
  <body>
    <%= render partial: 'layouts/header', locals: {menu: yield(:menu)} %>
    <div class="container">
      <div class="row">
      <%= yield %>
      </div>
      <%= render partial: "layouts/footer" %>
      </div>
      <% if Rails.env.development? %>
      <div class="row col-md-12">
      <%= debug(params) %>
      <div>
      <% end %>
  </body>
</html>
